<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambo.ndp.dao.api.OverviewMapper">
  <select id="queryOverview" parameterType="map" resultType="map">
    select subject_id as subjectId,subject_name as subjectName ,ns.category_id as categoryId,table_id as tableId,table_code as tableCode,nc.category_name as categoryName
    from  ndp_subject ns,ndp_category nc where ns.CATEGORY_ID=nc.CATEGORY_ID
    <if test="subjectName != null">
      and subject_name like concat(concat('%',#{subjectName}),'%')
    </if>
    order by ${sort} ${order}
  </select>
</mapper>