<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambo.ndp.dao.api.TableMapper">
  <select id="queryDbTable" parameterType="map" resultType="map">
    select table_name from information_schema.tables where table_schema='lambo'

      <if test="tableName != null">
          and table_name like concat(concat('%',#{tableName}),'%')
      </if>

      order by ${sort} ${order}
</select>
    <select id="queryDbTableColumns" parameterType="map" resultType="map">
        select COLUMN_NAME from information_schema.COLUMNS where table_name =  #{tableName,jdbcType=VARCHAR}
        <if test="columnName != null">
            and column_name like concat(concat('%',#{columnName}),'%')
        </if>
        order by ${sort} ${order}
    </select>
  <resultMap id="BaseResultTableMap" type="com.lambo.ndp.model.Table">
  <id column="TABLE_ID" jdbcType="INTEGER" property="tableId" />
  <result column="TABLE_CODE" jdbcType="VARCHAR" property="tableCode" />
  <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
  <result column="TABLE_DESC" jdbcType="VARCHAR" property="tableDesc" />
  <result column="CREATE_USER" jdbcType="INTEGER" property="createUser" />
  <result column="CREATE_TIME" jdbcType="CHAR" property="createTime" />
 </resultMap>
  <resultMap id="BaseResultTableCellMap" type="com.lambo.ndp.model.TableCellDict">
    <id column="CELL_ID" jdbcType="INTEGER" property="cellId" />
    <id column="TABLE_ID" jdbcType="INTEGER" property="tableId" />
    <result column="CELL_CODE" jdbcType="VARCHAR" property="cellCode" />
    <result column="CELL_NAME" jdbcType="VARCHAR" property="cellName" />
    <result column="DICT_ID" jdbcType="VARCHAR" property="dictId" />
    <result column="DATA_UNIT" jdbcType="INTEGER" property="dataUnit" />
    <result column="DATA_DESC" jdbcType="CHAR" property="dataDesc" />
      <result column="DICT_Name" jdbcType="CHAR" property="dictName" />
  </resultMap>
  <select id="selectTableByPrimaryKey" parameterType="Integer" resultType="map">
    select TABLE_ID as tableId,TABLE_CODE as tableCode,TABLE_NAME as tableName,TABLE_DESC as tableDesc ,CREATE_USER as createUser,CREATE_TIME as createTime
    from NDP_TABLE
    where TABLE_ID=#{tableId}
  </select>
    <update id="updateTable" parameterType="map">
        update NDP_TABLE
      set TABLE_CODE = #{tableCode,jdbcType=VARCHAR},
      TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      TABLE_DESC = #{tableDesc,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=CHAR}
    where TABLE_ID = #{tableId,jdbcType=INTEGER}
    </update>
  <select id="queryTable" parameterType="map" resultMap="BaseResultTableMap">
    select TABLE_ID,TABLE_CODE,TABLE_NAME,TABLE_DESC,CREATE_USER,CREATE_TIME
    from NDP_TABLE
    where 1=1
    <if test="tableCode != null">
     <!-- and TABLE_CODE = like concat(concat('%',#{tableCode}),'%')-->
      and TABLE_CODE like concat(concat('%',#{tableCode}),'%')
    </if>
    <if test="tableName != null">
      and table_name like concat(concat('%',#{tableName}),'%')
    </if>
      order by ${sort} ${order}


  </select>
  <select id="queryTableCell" parameterType="Integer" resultType="map">
    select DISTINCT CELL_ID as cellId,TABLE_ID as tableId,CELL_CODE as cellCode,CELL_NAME as cellName ,NDP_TABLE_CELL.DICT_ID as dictId,DATA_UNIT as dataUnit,DATA_DESC as dataDesc,NDP_DICT.DICT_NAME as dictName
    from NDP_TABLE_CELL left join NDP_DICT ON NDP_TABLE_CELL.DICT_ID=NDP_DICT.DICT_ID
    where TABLE_ID =#{tableId}

  </select>
  <select id="selectTableById" parameterType="Integer" resultMap="BaseResultTableMap">
    select TABLE_ID,TABLE_CODE,TABLE_NAME,TABLE_DESC,CREATE_USER,CREATE_TIME
    from NDP_TABLE
    where TABLE_ID = #{tableId}
  </select>
  <!-- <insert id="insertTable" useGeneratedKeys="true" keyProperty="table_id" parameterType="map">
     insert into NDP_TABLE ( TABLE_CODE, TABLE_NAME,
     TABLE_DESC,CREATE_USER, CREATE_TIME)
     values (#{tableCode,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR},#{tableDesc,jdbcType=VARCHAR},
     #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=CHAR})
   </insert>-->
  <insert id="insertTable" useGeneratedKeys="true" keyProperty="tableId" parameterType="com.lambo.ndp.model.Table">
    insert into NDP_TABLE ( TABLE_CODE, TABLE_NAME,
    TABLE_DESC,CREATE_USER, CREATE_TIME)
    values (#{tableCode,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR},#{tableDesc,jdbcType=VARCHAR},
    #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR})
  </insert>
  <insert id="insertTableCell"  parameterType="com.lambo.ndp.model.TableCell">
    insert into NDP_TABLE_CELL ( TABLE_ID, CELL_CODE,
    CELL_NAME,DICT_ID, DATA_UNIT,DATA_DESC)
    values (#{tableId,jdbcType=INTEGER}, #{cellCode,jdbcType=VARCHAR},#{cellName,jdbcType=VARCHAR},
    #{dictId,jdbcType=VARCHAR}, #{dataUnit,jdbcType=VARCHAR},#{dataDesc,jdbcType=VARCHAR})
  </insert>
  <delete id="deleteTableCellByPrimaryKey" parameterType="Integer">
    delete from NDP_TABLE_CELL
    where CELL_ID = #{cellId}
  </delete>
  <delete id="deleteTableCellByTableId" parameterType="Integer">
    delete from NDP_TABLE_CELL
    where TABLE_ID = #{tableId}
  </delete>
  <delete id="deleteTableByTableId" parameterType="Integer">
    delete from NDP_TABLE
    where TABLE_ID = #{tableId}
  </delete>
 </mapper>