<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambo.ndp.dao.api.DataViewMapper">
  <select id="getDictListByDictId" parameterType="String" resultType="map">
    SELECT DICT_KEY,DICT_VALUE
    FROM NDP_DICT
    WHERE DICT_ID=#{dictId,jdbcType=VARCHAR}
  </select>
    <select id="getCatogryNameByCategoryId"  resultType="map">
        SELECT CATEGORY_ID,CATEGORY_NAME
        FROM NDP_CATEGORY;
    </select>
  <select id="getSearchResult" parameterType="String" resultType="map">
    ${value}
  </select>

    <update id="updateRateCountBySubjectId" parameterType="map">
        UPDATE
          NDP_SUBJECT
        SET
          RATE_COUNT = (RATE_COUNT+ #{rateCount,jdbcType=DOUBLE})/2
        WHERE
          SUBJECT_ID= #{catagoryId,jdbcType=VARCHAR};
    </update>
    <update id="updateVisitCountBySubjectId" parameterType="String">
        UPDATE
        NDP_SUBJECT
        SET
        VISIT_COUNT = VISIT_COUNT+ 1
        WHERE
        SUBJECT_ID= ${value};
    </update>
</mapper>