<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambo.ndp.dao.api.DictMapper">
  <select id="getDictMap" parameterType="map" resultType="map">
    SELECT DICT_ID,
       DICT_NAME,
       DICT_DESC,
       DICT_KEY,
       DICT_VALUE
    FROM ndp_dict
    where DICT_ID = #{DICT_ID}
  </select>
  <select id="getDictValue" parameterType="map" resultType="map">
    SELECT DICT_ID,
       DICT_NAME,
       DICT_DESC,
       DICT_KEY,
       DICT_VALUE
    FROM ndp_dict
    where DICT_ID = #{DICT_ID}
      and DICT_KEY = #{DICT_KEY}
  </select>
</mapper>