package ${package_name}.service.api;

import com.lambo.common.base.BaseService;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* ${model}Service接口
* Created by lambo on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}