<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambo.ndp.dao.api.DataViewMapper">
  <select id="getDictListByDictId" parameterType="String" resultType="map">
    SELECT DICT_KEY,DICT_VALUE
    FROM NDP_DICT
    WHERE DICT_ID=#{dictId,jdbcType=VARCHAR}
  </select>

  <select id="getSearchResult" parameterType="String" resultType="map">
    ${value}
  </select>
</mapper>