<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambo.ndp.dao.api.HomepageMapper">
  <select id="getHotSubject" parameterType="map" resultType="map">
    select ndp_subject.subject_id,subject_name,category_name,record_num
    from  ndp_subject,(
      select subject_id,count(record_id) record_num from ndp_subject_record
      group by subject_id
      order by count(record_id) desc
      limit 5
    ) ndp_subject_record,ndp_category
    where ndp_subject.subject_id = ndp_subject_record.subject_id
      and ndp_subject.category_id = ndp_category.category_id
  </select>
  <select id="getNewSubject" parameterType="map" resultType="map">
    select ndp_subject.subject_id,ndp_subject.subject_name,ndp_category.category_name,left(ndp_subject.create_time,10) create_time,ndp_subject.subject_desc
    from  ndp_subject,ndp_category
    where ndp_subject.category_id = ndp_category.category_id
    <if test="category_id != null">
      and ndp_subject.category_id = #{category_id}
    </if>
    order by ndp_subject.create_time desc
    limit 5
  </select>
  <select id="getAllCategory" parameterType="map" resultType="map">
    select `category_id`,
      `category_name`,
      `category_img`,
      `category_order`,
      `category_desc`,
      `create_user`,
      `create_time`
    from  ndp_category
    order by `category_order`
  </select>
  <select id="getCategoryNum" parameterType="map" resultType="map">
    select count(category_id) category_num
    from  ndp_category
  </select>
  <select id="getFileNum" parameterType="map" resultType="map">
    select count(subject_id) file_num
    from  ndp_subject
  </select>
  <select id="getDataNum" parameterType="map" resultType="map">
    select count(subject_id) subject_num
    from  ndp_subject
  </select>
  <select id="getRecordNum" parameterType="map" resultType="map">
    select count(record_id) record_num
    from  ndp_subject_record
  </select>
  <select id="getDownloadNum" parameterType="map" resultType="map">
    select count(record_id) download_num
    from  ndp_subject_record
  </select>
</mapper>